p {
  font-family: Roboto, Ariel;
<<<<<<< HEAD
  margin-top: 0px;
  margin-bottom: 0px;
=======
  margin-top: 0;
  margin-bottom: 0;
>>>>>>> 2ad98970b6c63bf4f5b4d53b4c298bbdc14e46c7
}
body {
margin: 0;
padding-top: 80px;
padding-left: 96px;
padding-right: 24px;
background-color: rgb(152, 152, 152);
}
